.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button, input {
  outline: none;
} 

body {
  background-color: #eee;
  background-image: url("background.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.progressq {
  color: rgb(177, 174, 174);
}

.progress {
  position: relative;
  transition: width .4s ease;
  margin-bottom: 0em;
  background: rgb(255, 255, 255);
  border-radius: 0;
  width: 100%;
  height: 2em;
  border: 2px solid #046c8f;
  color: black;
}

.progressBar {
  background-color:#046c8f;
  height: 2em;
}

.hearts {
  color: #fb305f;
}
.scorecontainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 50px;
}

.scorecomponent {
  width: 150px;

}

.questioncounter {
  position: absolute;
  right: 5px;
  top: 0;
  font-weight: normal;
  color: #fff;
  height: 100%;
  font-size:1.25em;
  margin: auto .5em;
  letter-spacing:.025em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type=submit] {
  font-family: 'Raleway', sans-serif;
}

#startbutton:hover, .answerbutton:hover {
  background-color: #ff7f07;
  cursor: pointer;
}

.answerbutton {
  background: #fcb50d;
  margin: 3px 0;
  font-size: 20px;
  padding: 15px 35px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: hidden;
  width: 100%;
  text-decoration: none;
}

.scorelink {
  text-decoration: none;
  color: white;
}

#startbutton {
  background: #fcb50d;
  margin: 10px 0;
  font-size: 20px;
  padding: 15px 35px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: hidden;
  width: 100%;
}

.nameinput {
  border-radius: 5px;
  padding: 5px 0px;
  padding-inline-start: 5px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;      
  border: 1px solid gray;
  width: 100%;
}

#scorebutton {
  text-decoration: none;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#scorebutton:hover {
  background-color: rgb(28, 79, 92);
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

#row:nth-child(2) {
  background: rgba(255, 217, 0, 0.664);
}

#row:nth-child(3) {
  background: #c0c0c0ce;
}

#row:nth-child(4) {
  background: #cd8032af ;
}

.container {
  background-color: white;
  border-radius: 25px;
  padding: 50px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 500;
}

.questiontitle {
  font-family: 'Cabin Sketch', cursive;
  color: #046c8f;
}